.home-container {
  overflow: hidden;
}

/* ----------------------**HERO SECTION**---------------------- */
#hero-section {
  background: rgb(0, 0, 0);
  /* background: linear-gradient(-130deg, rgb(123, 137, 148) 0%, rgb(198, 206, 220) 35%, rgb(89, 94, 98) 100%); */
}

.hero-logo {
  height: 20rem;
  width: 20rem;
  flex-shrink: 0;
}

.hero-text-holder {
  position: absolute;
  left: 5%;
  top: 15%;
  display: flex;
  flex-direction: row;
}

.main-text {
  flex-shrink: 0;
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: start;
  gap: 0.5rem;
  margin-left: 1rem;
  color: var(--primary-text-color);
}

.main-text h1 {
  font-size: 140px;
  margin: 0;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;

  height: 10rem;
}

.hero-text-holder p {
  padding-top: 0.5rem;
  /* border-top: 2px solid var(--primary-text-color); */
  margin: 0;
  width: 60%;
  font-size: 25px;
  margin-left: 0.5rem;
}

.shinyBtn-start {
  font-size: 1.5rem;
  border: 1px solid rgb(68, 66, 66);
  padding: 1rem 2rem;
  outline: none;
  border-radius: 2px;
  margin-top: 0.5rem;
}

.shinyBtn-start:hover {
  background-color: rgb(68, 66, 66, 0.2);
  color: white;
}

.back-thumbnail {
  flex-shrink: 0;
  width: 35rem;
  height: 18rem;
  overflow: hidden;
  border-radius: 5px;
}

.back-thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* ----------------------**ABOUT SECTION**---------------------- */

#about-section {
  background-color: white;
  padding-block: 10%;
  width: 100vw;
}

.about-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  gap: 2rem;
}

.about-content h2 {
  font-size: 55px;
  color: var(--text-color);
  width: 90%;
  text-align: left;
}

.classCardHolder {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.classCard {
  height: 30rem;
  width: 22rem;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.classCard-img {
  position: absolute;
  width: 100%;
  height: 100%;
}

.classCard-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.classCard-content {
  position: absolute;
  bottom: 0;
  width: 100%;
  color: var(--contrast-text-color);
  padding: 1rem;
  z-index: 3;
  font-size: 25px;
}

.classCard-overlay {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.8) 0%,
    rgba(0, 0, 0, 0) 100%
  );
}

/* ----------------------**PRESENATIOn SECTION**---------------------- */

#presentation-section {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block: 10%;
}

.presentation-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  width: 100%;
}

.video-presentation {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  width: 100%;
}

.video-container-presentation {
  height: 35rem;
  width: 55rem;
  border-radius: 12px;
  overflow: hidden;
}

.video-container-presentation video {
  width: 150%;

  object-fit: contain;

  border-radius: 12px;
}

.comment-container-presentation {
  overflow: hidden;
  width: 30%;
  height: 35rem;
}

.comments-holder-presentation {
  margin-top: 2rem;
  width: 100%;
  height: 35rem;
  align-self: flex-start;

  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.comment-presentation {
  flex-shrink: 0;
  color: var(--contrast-text-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 5px;
  padding-inline: 1rem;
  height: 5rem;
  border: 1px solid rgb(255, 255, 255, 0.25);
}

.user {
  opacity: 0.85;
  font-weight: 600;
  display: flex;
  gap: 0.2rem;
  align-items: center;
}

.features-holder {
  display: flex;

  gap: 2rem;
  width: 100%;
  align-items: center;
  justify-content: center;
  height: 30rem;

  margin-top: 5rem;
}

.spotlight-holder {
  height: 21rem;
  width: 21rem;
  color: rgb(255, 255, 255, 0.8);
}

.spotlight-holder h5 {
  font-size: 23px;
  font-weight: 500;
  letter-spacing: 1px;
}

.spotlight-holder i {
  font-size: 2.5rem;
}

/* ----------------------**MEMBER SECTION**---------------------- */

#membres-section {
  background-color: white;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.squareBackground {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  opacity: 0.5;
  z-index: 0;
}

.membres-holder {
  height: fit-content;
  position: relative;
  width: 100%;
  height: 60rem;
}

.membres-carousel {
  width: 100%;
  height: 100%;
  position: absolute;
  top: -0%;
}

#titleSection {
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 1rem;
  margin-top: 5%;
  text-align: center;
  font-size: 3rem;
}

/* ----------------------**START SECTION**---------------------- */

#start-section {
  background-color: black;
  height: 30rem;
}

.start-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.start-container h2 {
  top: 30%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  position: absolute;
  font-size: 5rem;
  font-weight: bold;
  letter-spacing: 4px;
  color: rgba(255, 255, 255, 0.345);
  text-align: center;
  margin-top: 5rem;
}

.start-container a {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  color: rgb(0, 0, 0);
  padding: 1.5rem 4rem;
  font-size: 1.5rem;
  text-decoration: none;
  transition: 0.3s;
  margin-top: 2rem;
  border-radius: 1px;
  border: 1px solid white;
}

.start-container a:hover {
  background-color: rgb(255, 255, 255, 0);
  color: rgb(255, 255, 255);
}
