.publish-project-container {
    max-width: 65%;
    margin: 0 auto;
    padding: 2rem;
    border-radius: 8px;

}

.publish-project-container h1 {
    margin-top: 10%;
    border-bottom: 1px solid #919090;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    font-size: 2rem;
    color: #333;
    margin-bottom: 2rem;
}

.publish-project-form {
    display: flex;
    gap: 1.5rem;
    justify-content: space-between;
    position: relative;

}

.form-info {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 5rem;
    background-color: #f7f7f7;
    padding-inline: 2rem;
    padding-block: 1rem 2rem;
    border-radius: 8px;
}
.label-group{
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
}

.label-group i{
    font-size: 1.2rem;
    color: #555;
    cursor: pointer;
}

.label-group i:hover{
    color: #007bff;
}

.form-group {
    position: relative;
    display: flex;
    flex-direction: column;
}

.shared-form-group {
    display: flex;
    width: 100%;
    gap: 1rem;
}

.shared-form-group .form-group {
    width: 50%;
}

.shared-form-group .form-group label {
    display: flex;
    gap: 1rem;
}

.form-group select {
    padding: 0.75rem;
    font-size: 1rem;
    border: 1px solid #6e6b6bde;
    border-radius: 9px;
    outline: none;
    transition: border-color 0.3s ease;
    color: #555555cc;
    appearance: none;
    cursor: pointer;
    position: relative;
}

.tags-publish{
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-top: 0.5rem;
}

.tag-publish{
    background-color: #0d0d0e;
    color: #ffffff ;
    padding: 0.5rem 0.75rem;
    border-radius: 5px;
    font-size: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.tag-publish p{
    font-size: 0.8rem;
    color: #e5e5e6;
    font-weight: 500;
    margin: 0;
}

.tag-publish i{
    opacity: 0.8;
    font-size: 0.8rem;
    color: #ffffff;
    cursor: pointer;
}
.tag-publish:hover{
    background-color: #282828;
    color: #ffffff ;
    padding: 0.5rem 0.75rem;
    border-radius: 5px;
    font-size: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
}

.select-group{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.select-group i{
    position: absolute;
    top: 52%;
    right: 1rem;
    transform: translateY(-50%);
    color: #555;
    font-size: 1rem;
    pointer-events: none;
}



.form-group select:focus {
    border-color: #007bff;
    background-color: rgb(51, 130, 233, 0.1);
}




.form-video {
    top: 6rem;
    width: 42%;
    position: sticky;
    height: fit-content;
}

.search-input-group-publish{
    width: 100%;
    position: relative;
}

.search-input-group-publish input{
    z-index: 1;
}

.search-input-group-publish button{
    position: absolute;
    top: 50%;
    right: 0.1rem;
    transform: translateY(-50%);
    color: #555;
    font-size: 0.9rem;
    pointer-events: none;
    z-index: 5;
    cursor: pointer;
    width: 3rem;
    height: 3rem;
}

.search-input-group-publish button:hover{
    color: #007bff;
    background-color: #f7f7f7;
}

.searchInput-publish{
    position: relative;
    width: 100%;
}

.search-results-publish{
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    max-height: 10rem;
    background-color: #efefef;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 1rem;
    overflow-y: auto;
    z-index: 10;
    display: none;
    flex-direction: column;

}
.search-result-item-publish{
    padding-block: 1rem;
    padding-inline: 1rem;
 
    border-bottom: 1px solid #ccc;
    cursor: pointer;
    transition: var(--default-transition);
    display: flex;
    align-items: center;
}

.search-result-item-publish img{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    margin-right: 0.5rem;
    background-color: black;
    object-fit: cover;
    overflow: hidden;
}

.search-result-item-publish:hover{
    background-color: rgb(15, 15, 15,0.25);
}

.collaborator-publish {
    background-color: #3e90e8;
    padding: 0.5rem 0.75rem;
    border-radius: 5px;
    font-size: 0.875rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.collaborator-publish:hover{
    background-color: #3e90e8bd;
    color: #ffffff ;
    padding: 0.5rem 0.75rem;
    border-radius: 5px;
    font-size: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
}

.collaborator-publish p {
    font-size: 0.8rem;
    color: #ffffff;
    font-weight: 500;
    margin: 0;
}

.collaborator-publish i {
    opacity: 0.8;
    font-size: 0.8rem;
    color: #ffffff;
    cursor: pointer;
}

.video-container-publish{
    height: 25rem;
    width: 100%;
    gap: 1rem;
    background-color: rgb(15, 15, 15);
    overflow: hidden;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.videoUpload {
    width: 100%;
    background-color: rgb(15, 15, 15,0.15);
    border: 3px dashed #9b9c9e;
    border-radius: 8px;
    transition: var(--default-transition);
    cursor: pointer;
}

.videoUpload:hover{
    background-color: rgb(15, 15, 15,0.25);
}

#uploadlabel{
    font-size: 1.2rem;
    color: #74767c;
    font-weight: 600;
    margin: 0;

}

.holder-upload{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 8rem;
    width: 100%;
    cursor: pointer;
    position: relative;
}


.videoUpload input {
    cursor: pointer;
    opacity: 0;
    position: absolute;	
    outline: none;
    border: none;
    width: 100%;
    height: 100%;
 
}
.upload-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    color: #74767c;
    font-size: 1.1rem;

}
.video-preview {
    position: absolute;
    width: 100%;
    height: 62%;
}

.video-information {
    padding: 1rem;
    position: absolute;
    text-align: center;
    bottom: 0;
    width: 100%;
    height: 38%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.video-information p:first-child {
    font-size: 1.05rem;
    font-weight: 600;
    color: var(--highlight-text-color);
}

.video-information p:last-child {
    font-size: 0.9rem;
    color: #ccc;
}

.form-group label {
    font-size: 1.1rem;
    font-weight: 600;
    color: #555;
    margin-bottom: 0.5rem;
}
.form-group span{
    font-size: 1.2rem;
    color: #f35844;
}
.form-group input,
.form-group textarea {
    padding: 0.75rem;
    font-size: 1rem;
    border: 1px solid #6e6b6bde;
    border-radius: 9px;
    outline: none;
    transition: border-color 0.3s ease;
    resize: none;
    transition: var(--default-transition);
}

.form-group input:focus,
.form-group textarea:focus {
    border-color: #007bff;
    background-color: rgb(51, 130, 233,0.1);
}

textarea {
    resize: vertical;
    min-height: 100px;
}

.tags,
.collaborators {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-top: 0.5rem;
}


.submit-button {
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
  }
  
  .submit-button:hover {
    background-color: #0056b3;
  }
  
  .submit-button.disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  .validation-message {
    text-align: center;
    color: red;
    font-size: 0.9rem;
    margin-block: 1rem;
  }

@media (max-width: 1080px) {
    .publish-project-container {
        max-width: 100%;
        padding: 1.5rem;
    }

    .publish-project-container h1 {
        font-size: 1.8rem;
        margin-top: 25%;
    }

    .publish-project-form {
        flex-direction: column-reverse;
        gap: 2rem;
        width: 100%;
    }

    .form-info {
        width: 100%;
        margin: 0;
        margin-bottom: 2rem;
    }

    .form-video {
        width: 100%;
        top: 0;
        position: relative;
    }

    .video-container-publish {
        height: 20rem;
    }

    .videoUpload {
        height: 8rem;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .holder-upload {
        align-items: center;
        justify-content: center;
        height: 100%
    }

    .form-group input,
    .form-group textarea {
        font-size: 0.9rem;
    }

    .submit-button {
        font-size: 0.9rem;
        padding: 0.5rem 1rem;
    }
    .shared-form-group {
        flex-direction: column;
    }

    .shared-form-group .form-group {
        width: 100%;
    }
}